$blue-prim: #3997d2;
$orange-prim: #f26422;
$orange-dark: #d85d24;
$grey-nav: #eee;
$grey-text: #7f7f7f;
$grey-light-background: #f4f4f4;
$grey-dark-background: #222;
$grey-dark-footer: #222;
$grey-button: #ddd;
$grey-faq-dark: #808080;
$grey-points: #aaa;
