%h2-header {
  text-align: center;
  color: white;
  margin: 0;
  box-sizing: border-box;
  height: 110px;
  line-height: 110px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Paul-Grotesk-Thin-Trail", sans-serif;
  letter-spacing: 1px;
}
